/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/front-end/.gitignore
/front-end/logs
/front-end/*.log
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*
/front-end/pnpm-debug.log*
/front-end/lerna-debug.log*

/front-end/node_modules
/front-end/dist
/front-end/dist-ssr
/front-end/*.local

# Editor directories and files
/front-end/.vscode/*
/front-end/!.vscode/extensions.json
/front-end/.idea
/front-end/.DS_Store
/front-end/*.suo
/front-end/*.ntvs*
/front-end/*.njsproj
/front-end/*.sln
/front-end/*.sw?
